.ui-btn-link-cancel, .ui-btn-link-warning, .ui-btn-link-negative, .ui-btn-link-positive, .ui-btn-link-default, .ui-btn-outline-cancel, .ui-btn-outline-warning, .ui-btn-outline-negative, .ui-btn-outline-positive, .ui-btn-outline-default, .ui-btn-cancel, .ui-btn-warning, .ui-btn-negative, .ui-btn-positive, .ui-btn-default {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.4;
  outline: none;
  overflow: hidden;
  padding: 6px 26px;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border-radius: 8px;
  box-shadow: rgba(29, 31, 29, 0.15) 0 4px 9px;
  cursor: pointer;
  display: inline-block;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}
.ui-btn-link-cancel:disabled, .ui-btn-link-warning:disabled, .ui-btn-link-negative:disabled, .ui-btn-link-positive:disabled, .ui-btn-link-default:disabled, .ui-btn-outline-cancel:disabled, .ui-btn-outline-warning:disabled, .ui-btn-outline-negative:disabled, .ui-btn-outline-positive:disabled, .ui-btn-outline-default:disabled, .ui-btn-cancel:disabled, .ui-btn-warning:disabled, .ui-btn-negative:disabled, .ui-btn-positive:disabled, .ui-btn-default:disabled {
  box-shadow: none;
  opacity: 60%;
  cursor: default;
}

.ui-btn-default {
  border: 1px solid #1d74b6;
  background: #2185D0;
  background: linear-gradient(200deg, #2185D0 0%, #2d92de 63%);
  color: #fff;
}
.ui-btn-default:not(:disabled):hover {
  background: #3194de;
}
.ui-btn-default i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-positive {
  border: 1px solid #1ca03b;
  background: #21BA45;
  background: linear-gradient(200deg, #21BA45 0%, #25d04d 63%);
  color: #fff;
}
.ui-btn-positive:not(:disabled):hover {
  background: #26d44f;
}
.ui-btn-positive i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-negative {
  border: 1px solid #c42121;
  background: #DB2828;
  background: linear-gradient(200deg, #DB2828 0%, #df3e3e 63%);
  color: #fff;
}
.ui-btn-negative:not(:disabled):hover {
  background: #df4242;
}
.ui-btn-negative i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-warning {
  border: 1px solid #e2620d;
  background: #F2711C;
  background: linear-gradient(200deg, #F2711C 0%, #f38034 63%);
  color: #fff;
}
.ui-btn-warning:not(:disabled):hover {
  background: #f48339;
}
.ui-btn-warning i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-cancel {
  border: 1px solid #676767;
  background: #767676;
  background: linear-gradient(200deg, #767676 0%, #838383 63%);
  color: #fff;
}
.ui-btn-cancel:not(:disabled):hover {
  background: #858585;
}
.ui-btn-cancel i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-outline-default {
  border: 1px solid #1d74b6;
  background-color: #f5f5f5;
  color: #1d74b6;
}
.ui-btn-outline-default:not(:disabled):hover {
  background-color: white;
}
.ui-btn-outline-default i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-outline-positive {
  border: 1px solid #1ca03b;
  background-color: #f5f5f5;
  color: #1ca03b;
}
.ui-btn-outline-positive:not(:disabled):hover {
  background-color: white;
}
.ui-btn-outline-positive i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-outline-negative {
  border: 1px solid #c42121;
  background-color: #f5f5f5;
  color: #c42121;
}
.ui-btn-outline-negative:not(:disabled):hover {
  background-color: white;
}
.ui-btn-outline-negative i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-outline-warning {
  border: 1px solid #e2620d;
  background-color: #f5f5f5;
  color: #e2620d;
}
.ui-btn-outline-warning:not(:disabled):hover {
  background-color: white;
}
.ui-btn-outline-warning i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-outline-cancel {
  border: 1px solid #676767;
  background-color: #f5f5f5;
  color: #676767;
}
.ui-btn-outline-cancel:not(:disabled):hover {
  background-color: white;
}
.ui-btn-outline-cancel i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-link-default {
  border: 1px solid #1d74b6;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  color: #1d74b6;
}
.ui-btn-link-default:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}
.ui-btn-link-default i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-link-positive {
  border: 1px solid #1ca03b;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  color: #1ca03b;
}
.ui-btn-link-positive:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}
.ui-btn-link-positive i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-link-negative {
  border: 1px solid #c42121;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  color: #c42121;
}
.ui-btn-link-negative:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}
.ui-btn-link-negative i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-link-warning {
  border: 1px solid #e2620d;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  color: #e2620d;
}
.ui-btn-link-warning:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}
.ui-btn-link-warning i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}

.ui-btn-link-cancel {
  border: 1px solid #676767;
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-decoration: underline;
  color: #676767;
}
.ui-btn-link-cancel:not(:disabled):hover {
  background-color: transparent;
  text-decoration: none;
}
.ui-btn-link-cancel i {
  position: relative;
  display: inline-block;
  margin-right: 8px;
  font-size: 0.75em;
  top: -1px;
}