.ui-padding-1 {
  padding: 0.25rem;
}
.ui-padding-top-1 {
  padding-top: 0.25rem;
}
.ui-padding-right-1 {
  padding-right: 0.25rem;
}
.ui-padding-bottom-1 {
  padding-bottom: 0.25rem;
}
.ui-padding-left-1 {
  padding-left: 0.25rem;
}

.ui-padding-2 {
  padding: 0.5rem;
}
.ui-padding-top-2 {
  padding-top: 0.5rem;
}
.ui-padding-right-2 {
  padding-right: 0.5rem;
}
.ui-padding-bottom-2 {
  padding-bottom: 0.5rem;
}
.ui-padding-left-2 {
  padding-left: 0.5rem;
}

.ui-padding-3 {
  padding: 0.75rem;
}
.ui-padding-top-3 {
  padding-top: 0.75rem;
}
.ui-padding-right-3 {
  padding-right: 0.75rem;
}
.ui-padding-bottom-3 {
  padding-bottom: 0.75rem;
}
.ui-padding-left-3 {
  padding-left: 0.75rem;
}

.ui-padding-4 {
  padding: 1rem;
}
.ui-padding-top-4 {
  padding-top: 1rem;
}
.ui-padding-right-4 {
  padding-right: 1rem;
}
.ui-padding-bottom-4 {
  padding-bottom: 1rem;
}
.ui-padding-left-4 {
  padding-left: 1rem;
}

.ui-padding-5 {
  padding: 1.5rem;
}
.ui-padding-top-5 {
  padding-top: 1.5rem;
}
.ui-padding-right-5 {
  padding-right: 1.5rem;
}
.ui-padding-bottom-5 {
  padding-bottom: 1.5rem;
}
.ui-padding-left-5 {
  padding-left: 1.5rem;
}

.ui-padding-6 {
  padding: 2rem;
}
.ui-padding-top-6 {
  padding-top: 2rem;
}
.ui-padding-right-6 {
  padding-right: 2rem;
}
.ui-padding-bottom-6 {
  padding-bottom: 2rem;
}
.ui-padding-left-6 {
  padding-left: 2rem;
}

.ui-padding-7 {
  padding: 2.5rem;
}
.ui-padding-top-7 {
  padding-top: 2.5rem;
}
.ui-padding-right-7 {
  padding-right: 2.5rem;
}
.ui-padding-bottom-7 {
  padding-bottom: 2.5rem;
}
.ui-padding-left-7 {
  padding-left: 2.5rem;
}

.ui-padding-8 {
  padding: 3rem;
}
.ui-padding-top-8 {
  padding-top: 3rem;
}
.ui-padding-right-8 {
  padding-right: 3rem;
}
.ui-padding-bottom-8 {
  padding-bottom: 3rem;
}
.ui-padding-left-8 {
  padding-left: 3rem;
}