html, body {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
}

h6, h5, h4, h3, h2, h1 {
  font-family: "Segoe UI", Helvetica, Arial, sans-serif;
  padding: 0;
}

h1 {
  font-size: 1.5rem;
  line-height: 1.95rem;
  margin-top: 23px;
  margin-bottom: 23px;
}

h2 {
  font-size: 1.3rem;
  line-height: 1.69rem;
  margin-top: 12px;
  margin-bottom: 12px;
}

h3 {
  font-size: 1.1rem;
  line-height: 1.43rem;
  margin-top: 8px;
  margin-bottom: 8px;
}

h4 {
  font-size: 1rem;
  line-height: 1.3rem;
  margin-top: 6px;
  margin-bottom: 6px;
}

h5 {
  font-size: 0.9rem;
  line-height: 1.17rem;
  margin-top: 5px;
  margin-bottom: 5px;
}

h6 {
  font-size: 0.8rem;
  line-height: 1.04rem;
  margin-top: 4px;
  margin-bottom: 4px;
}