/* width */
.ui-width-5 {
  width: 5px;
}

.ui-width-10 {
  width: 10px;
}

.ui-width-15 {
  width: 15px;
}

.ui-width-20 {
  width: 20px;
}

.ui-width-25 {
  width: 25px;
}

.ui-width-30 {
  width: 30px;
}

.ui-width-35 {
  width: 35px;
}

.ui-width-40 {
  width: 40px;
}

.ui-width-45 {
  width: 45px;
}

.ui-width-50 {
  width: 50px;
}

.ui-width-55 {
  width: 55px;
}

.ui-width-60 {
  width: 60px;
}

.ui-width-65 {
  width: 65px;
}

.ui-width-70 {
  width: 70px;
}

.ui-width-75 {
  width: 75px;
}

.ui-width-80 {
  width: 80px;
}

.ui-width-85 {
  width: 85px;
}

.ui-width-90 {
  width: 90px;
}

.ui-width-95 {
  width: 95px;
}

.ui-width-100 {
  width: 100px;
}

.ui-width-100 {
  width: 100px;
}

.ui-width-110 {
  width: 110px;
}

.ui-width-120 {
  width: 120px;
}

.ui-width-130 {
  width: 130px;
}

.ui-width-140 {
  width: 140px;
}

.ui-width-150 {
  width: 150px;
}

.ui-width-160 {
  width: 160px;
}

.ui-width-170 {
  width: 170px;
}

.ui-width-180 {
  width: 180px;
}

.ui-width-190 {
  width: 190px;
}

.ui-width-200 {
  width: 200px;
}

.ui-width-210 {
  width: 210px;
}

.ui-width-220 {
  width: 220px;
}

.ui-width-230 {
  width: 230px;
}

.ui-width-240 {
  width: 240px;
}

.ui-width-250 {
  width: 250px;
}

.ui-width-260 {
  width: 260px;
}

.ui-width-270 {
  width: 270px;
}

.ui-width-280 {
  width: 280px;
}

.ui-width-290 {
  width: 290px;
}

.ui-width-300 {
  width: 300px;
}

.ui-width-310 {
  width: 310px;
}

.ui-width-320 {
  width: 320px;
}

.ui-width-330 {
  width: 330px;
}

.ui-width-340 {
  width: 340px;
}

.ui-width-350 {
  width: 350px;
}

.ui-width-400 {
  width: 400px;
}

.ui-width-450 {
  width: 450px;
}

.ui-width-500 {
  width: 500px;
}

.ui-width-550 {
  width: 550px;
}

.ui-width-600 {
  width: 600px;
}

/* max-width */
.ui-max-width-100 {
  max-width: 100px;
}

.ui-max-width-200 {
  max-width: 200px;
}

.ui-max-width-300 {
  max-width: 300px;
}

.ui-max-width-400 {
  max-width: 400px;
}

.ui-max-width-500 {
  max-width: 500px;
}

.ui-max-width-600 {
  max-width: 600px;
}

.ui-max-width-700 {
  max-width: 700px;
}

.ui-max-width-800 {
  max-width: 800px;
}

/* percentages */
.ui-width-5p {
  width: 5%;
}

.ui-width-10p {
  width: 10%;
}

.ui-width-15p {
  width: 15%;
}

.ui-width-20p {
  width: 20%;
}

.ui-width-25p {
  width: 25%;
}

.ui-width-30p {
  width: 30%;
}

.ui-width-35p {
  width: 35%;
}

.ui-width-40p {
  width: 40%;
}

.ui-width-45p {
  width: 45%;
}

.ui-width-50p {
  width: 50%;
}

.ui-width-55p {
  width: 55%;
}

.ui-width-60p {
  width: 60%;
}

.ui-width-65p {
  width: 65%;
}

.ui-width-70p {
  width: 70%;
}

.ui-width-75p {
  width: 75%;
}

.ui-width-80p {
  width: 80%;
}

.ui-width-85p {
  width: 85%;
}

.ui-width-90p {
  width: 90%;
}

.ui-width-95p {
  width: 95%;
}

.ui-width-100p {
  width: 100%;
}

/* max percent */
.ui-max-width-25p {
  max-width: 25%;
}

.ui-max-width-50p {
  max-width: 50%;
}

.ui-max-width-75p {
  max-width: 75%;
}

.ui-max-width-100p {
  max-width: 100%;
}

.ui-max-width-33p {
  max-width: 33%;
}

.ui-max-width-66p {
  max-width: 66%;
}